snippet fn "Docbook footnote" i
footnote:[&#32;xref:${1:reference}[${2:note}\]]$0
endsnippet

snippet fn "Docbook footnote reference" i
footnoteref:[&#32;${1:anchor}${2:,xref:${3:reference}[${4:note}\]}]$0
endsnippet

snippet quote "Quote" w
+++<quote>$1</quote>+++$0
endsnippet

snippet figure "Docbook figure" w
[[fig_${1:anchor}]]
.${2:title}
image::${3:file}[scale=${4:scale},align="center"]$0
endsnippet
