snippet tg "Insert TG- prefix"
TG-${1}
endsnippet

snippet m "Conventional commits message"
${1:feat}: ${2:commit message}
endsnippet

snippet t "Conventional commits message"
${1:feat}: ${2:commit message} TG-${3:123}
endsnippet
