# Standard, see
# https://make.wordpress.org/core/handbook/best-practices/inline-documentation-standards/javascript/
snippet doc "JSDoc Code documentation" w
/**
 * ${1:description}.
 *
 * @param	{${2:type}}	${3:param}	${4:description}.
 *
 * @return	{${5:return type}}	${6:description}.
 */
endsnippet


