snippet template "Template" w
#!/usr/bin/env make -f
.POSIX:
.SUFFIXES:
.SUFFIXES: ${1}

PREFIX = /usr/local
DESTDIR =

.PHONY: help
help: ## Show this help (default)
	@egrep -h '\s##\s' \$(MAKEFILE_LIST) | sort | awk 'BEGIN \{FS = ":.*?## "\}; \{printf "\033[36m%-20s\033[0m %s\n", \$\$1, \$\$2\}'

.PHONY: all
all: ## Do everything

.PHONY: install
install: ## Install software

.PHONY: clean
clean: ## Cleanup the build
	@rm -vf game graphics.o physics.o input.o
endsnippet
