snippet template
<template>
${1}
</template>

<script>
export default {
  name: '${2:`!p snip.rv = snip.basename`}',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
    };
  },
};
</script>

<style scoped>
${3}
</style>
endsnippet

extends html
extends css
extends javascript
