.pc
*.pyc
.VimballRecord
*.swp
*.rej
*.orig
.netrwhist
spell
tmp
config/personal.vim
*.cache
*~
.tmp
*.jar
*.jnilib
*.dll
*.so
.gitignore
**/doc/tags
**/doc/tags-*
pack/vimscripts/opt/LanguageTool/LanguageTool*
plugin/packer_compiled.lua
pack/myconfig/opt/myconfig_1_pre/plugin/personal.vim
packer
