**/doc/tags
**/doc/tags-*
*.cache
*.dll
*.jar
*.jnilib
*.orig
*.pyc
*.rej
*.so
*.swp
*~
.VimballRecord
.gitignore
.netrwhist
.pc
.tmp
config/personal.vim
pack/myconfig/opt/myconfig_1_pre/plugin/personal.vim
pack/vimscripts/opt/LanguageTool/LanguageTool*
packer
plugin/packer_compiled.lua
spell
tmp
/lazy
/opt
