[submodule "bundle/javascript"]
	path = pack/ftplugins/start/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/textobj-uri"]
	path = pack/submodules/start/textobj-uri
	url = git@github.com:jceb/vim-textobj-uri.git
[submodule "bundle/vinegar"]
	path = pack/submodules/start/vinegar
	url = git@github.com:tpope/vim-vinegar
[submodule "bundle/unimpaired"]
	path = pack/submodules/start/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "bundle/snippets"]
	path = pack/ftplugins/start/snippets
	url = git@github.com:honza/vim-snippets
[submodule "bundle/orgmode"]
	path = pack/ftplugins/start/orgmode
	url = git@github.com:jceb/vim-orgmode.git
[submodule "bundle/fugitive"]
	path = pack/submodules/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/eunuch"]
	path = pack/submodules/start/eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "bundle/commentary"]
	path = pack/submodules/start/commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/obsession"]
	path = pack/submodules/start/obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "bundle/polyglot"]
	path = bundle/polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "bundle/abolish"]
	path = pack/submodules/start/abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "bundle/easyclip"]
	path = pack/submodules/start/easyclip
	url = git@github.com:svermeulen/vim-easyclip.git
[submodule "bundle/vCoolor"]
	path = pack/submodules/start/vCoolor
	url = git@github.com:KabbAmine/vCoolor.vim.git
[submodule "ipi/speeddating"]
	path = pack/submodules/opt/speeddating
	url = git@github.com:tpope/vim-speeddating.git
[submodule "bundle/lastpos"]
	path = pack/submodules/start/lastpos
	url = git@github.com:vim-scripts/lastpos.vim.git
[submodule "bundle/surround"]
	path = pack/submodules/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/asciidoc"]
	path = pack/ftplugins/start/asciidoc
	url = git@github.com:dahu/vim-asciidoc.git
[submodule "bundle/papercolor-theme"]
	path = pack/submodules/opt/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "bundle/interestingwords"]
	path = pack/submodules/start/interestingwords
	url = git@github.com:vasconcelloslf/vim-interestingwords.git
[submodule "python-syntax"]
	path = pack/ftplugins/start/python-syntax
	url = git@github.com:hdima/python-syntax.git
[submodule "bundle/ranger"]
	path = pack/submodules/start/ranger
	url = git@github.com:Mizuchi/vim-ranger.git
[submodule "bundle/projectionist"]
	path = pack/submodules/start/projectionist
	url = git@github.com:tpope/vim-projectionist.git
[submodule "bundle/UltiSnips"]
	path = pack/submodules/start/UltiSnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/fzf"]
	path = pack/submodules/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "bundle/rsi"]
	path = pack/submodules/start/rsi
	url = git@github.com:tpope/vim-rsi.git
[submodule "bundle/colorizer"]
	path = pack/submodules/start/colorizer
	url = git@github.com:lilydjwg/colorizer.git
[submodule "bundle/goyo"]
	path = pack/submodules/start/goyo
	url = git@github.com:junegunn/goyo.vim.git
[submodule "bundle/rest-console"]
	path = pack/submodules/start/rest-console
	url = git@github.com:diepm/vim-rest-console.git
[submodule "bundle/lightline"]
	path = pack/submodules/opt/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "bundle/easy-align"]
	path = pack/submodules/start/easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule "bundle/swapit"]
	path = pack/submodules/start/swapit
	url = git@github.com:mjbrownie/swapit.git
[submodule "bundle/characterize"]
	path = pack/submodules/start/characterize
	url = git@github.com:tpope/vim-characterize.git
[submodule "bundle/braceless"]
	path = pack/submodules/start/braceless
	url = git@github.com:tweekmonster/braceless.vim.git
[submodule "bundle/thesaurus_query"]
	path = pack/submodules/start/thesaurus_query
	url = git@github.com:Ron89/thesaurus_query.vim.git
[submodule "bundle/emmet.snippets"]
	path = pack/ftplugins/start/emmet.snippets
	url = git@github.com:jceb/emmet.snippets.git
[submodule "bundle/codi"]
	path = pack/submodules/start/codi
	url = git@github.com:metakirby5/codi.vim.git
[submodule "bundle/galvanize"]
	path = pack/submodules/start/galvanize
	url = git@github.com:rbong/galvanize.vim.git
[submodule "bundle/bbye"]
	path = pack/submodules/start/bbye
	url = git@github.com:moll/vim-bbye.git
[submodule "pack/20_plugins/start/textobj-user"]
	path = pack/submodules/start/textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "pack/20_plugins/start/tagbar"]
	path = pack/submodules/start/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "pack/submodules/start/shootingstar"]
	path = pack/submodules/start/shootingstar
	url = git@github.com:jceb/vim-shootingstar.git
[submodule "pack/submodules/start/repeat"]
	path = pack/submodules/start/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "pack/submodules/start/editqf"]
	path = pack/submodules/start/editqf
	url = git@github.com:jceb/vim-editqf.git
[submodule "pack/submodules/start/LaTeX-Box"]
	path = pack/ftplugins/start/LaTeX-Box
	url = git@github.com:LaTeX-Box-Team/LaTeX-Box.git
[submodule "pack/submodules/opt/hier"]
	path = pack/submodules/opt/hier
	url = git@github.com:jceb/vim-hier.git
[submodule "pack/submodules/start/deoplete"]
	path = pack/submodules/start/deoplete
	url = git@github.com:Shougo/deoplete.nvim.git
[submodule "pack/submodules/start/cursorword"]
	path = pack/submodules/start/cursorword
	url = git@github.com:itchyny/vim-cursorword.git
[submodule "pack/submodules/start/dirvish"]
	path = pack/submodules/start/dirvish
	url = git@github.com:justinmk/vim-dirvish.git
[submodule "pack/submodules/start/neomake"]
	path = pack/submodules/start/neomake
	url = git@github.com:neomake/neomake.git
[submodule "pack/submodules/start/neoformat"]
	path = pack/submodules/start/neoformat
	url = git@github.com:sbdchd/neoformat.git
[submodule "pack/submodules/start/vimagit"]
	path = pack/submodules/start/vimagit
	url = git@github.com:jreybert/vimagit.git
[submodule "pack/ftplugins/start/plantuml-syntax"]
	path = pack/ftplugins/start/plantuml-syntax
	url = git@github.com:aklt/plantuml-syntax.git
[submodule "pack/submodules/start/editorconfig"]
	path = pack/submodules/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
